.dtbox{
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    background-color: white;
    border-radius: 5px;
    border-bottom: 1px solid rgb(243, 242, 242);
}
.dtbox .pdname{
    border-bottom: 1px solid rgb(243, 242, 242);
    padding: 2%;
    font-size: 150%;
    color: rgb(70, 67, 67);
}
.dtbox .dtbott{
    display: grid;
    grid-template-columns: 35% 40% 25%;
    padding-top: 2%;
}
.dtbox .dtbott .dtimg img{
    width: 100%;
}
.dtbox .dtbott .dtinfo{
    margin-left: 6%;
    margin-right: 6%;
}
.dtbox .dtbott .dtinfo .dtprice{
    margin-top: 4%;
}
.dtbox .dtbott .dtinfo .dtprice .new-price{
    display: inline-block;
    font-size: 160%;
    font-weight: bold;
    color: rgb(70, 67, 67);
}
.dtbox .dtbott .dtinfo .dtprice .old-price{
    display: inline-block;
    padding-left: 2%;
    color: gray;
    text-decoration: line-through;
}
.dtbox .dtbott .dtinfo .fk-boxs{
    margin-top: 6%;
    margin-bottom: 10%;
    border: 1px dashed rgb(7, 173, 16);
}
.dtbox .dtbott .dtinfo .fk-boxs .fk-tit{
    margin-top: -0%;
    padding: 2%;
    color: white;
    font-weight: bold;
    background-color: rgb(33, 173, 40);
}
.dtbox .dtbott .dtinfo .fk-main ul li{
    font-size: 90%;
    color: rgb(197, 131, 8);
}
.dtbox .dtbott .dtinfo .fk-main .tkm{
    font-weight: bold;
    padding-left: 6%;
    color: tomato;
    font-size: 80%;
}
.dtbox .dtbott .dtinfo .fs-oder{
    text-align: center;
    text-decoration: none;
    background-color: tomato;
    color: white;
    padding: 2% 6%;
    margin-left: 11%;
    border-radius: 3px;
}
.dtbox .dtbott .dtinfo .fs-tgop{
    text-align: center;
    text-decoration: none;
    background-color: rgb(31, 192, 233);
    color: white;
    padding: 2% 5%;
    margin-left: 5%;
    border-radius: 3px;
}
.dtbox .dtbott .dtinfo .fs-dtinoti{
    font-size: 80%;
    color: rgb(90, 88, 88);
    margin-top: 8%;
    margin-left: 6%;
}
.dtbox .dtbott .dtinfo .fs-dtinoti strong{
    color: rgb(165, 11, 11);
    font-weight: bold;
}
.dtbox .dtbott .dtckr{
    border-left: 1px solid rgb(218, 213, 213);
}
.dtbox .dtbott .dtckr .dttop{
    border-bottom: 1px solid rgb(218, 213, 213);
    font-size: 110%;
    color: rgb(70, 67, 67);
    padding: 6%;
}
.dtbox .dtbott .dtckr .dtbottom{
    color: rgb(34, 32, 32);
    padding: 5%;
    line-height: 25px;
    word-spacing: 7px;
}
.dtbox .dtbott .dtckr .dtbottom strong{
    color: rgb(59, 71, 241);
}
.comment{
    width: 90%;
    display: grid;
    grid-template-columns: 60% 40%;
    margin-top: 2%;
    background: white;
    margin-left: 5%;
}
.comment .advertisement{
    width: 80%;
    margin-left: 36%;
}
.comment .advertisement img{
    width: 80%;
}
.comments{
    margin-left: 5%;
    background:white;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    padding-top:1%;
    margin-top: 2%;
    border-radius: 5px;
}

.comments .comment-user .fn-user{
    display: grid;
    grid-template-columns: 12% 70%;
}
.comments .comment-user .name{
    color: blue;
    font-weight: bold;
}
.comments .comment-user .create{
    margin-top: -1.5%;
    font-size: 65%;
    color: gray;
}
.comments .ke-dong{
    border:1px solid rgb(201, 199, 199);
}
.comments form input{
    margin-bottom: 3%;
    width: 60%;
    padding: 1.2%;
    border-radius: 5px;
    border: 1px solid rgb(201, 199, 199);
}
.comments form input:focus{
    outline:0;
}
.comments form button{
    border: none;
    border-radius: 5px;
    background: rgb(245, 182, 99);
    padding: 1.3%;
    color:white;
}
.comments form button:focus{
    outline:0;
    border: 1px solid gray;
}
